<form method="POST" action=" /verificare-autentificare">
    <label for="utilizator">Utilizator</label>
    <input type="text" id="utilizator" name="utilizator" required><br>
    <label for="parola">Parola</label>
    <input type="password" id="parola" name="parola" required>
    <button type="submit">Trimite</button>
</form>