<html>
	<head>
		<title>Produse electrocasnice</title>
	</head>
	<body>
		<header>
			<h1>PW</h1>
		</header>
		<main>
			<%-body%>
		</main>
		<footer> 
            &copy; Programare web 2026
		</footer>
	</body>
</html>

